<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>底部bottom</title>
<link href="/
public/static/css/css.css" type="text/css" rel="stylesheet">
<style>
/* Code tidied up by ScrapBook */
#footer { font-size: 12px; }
.footer_pad { padding: 7px 9px 5px; }
</style>
</head>
<body style="overflow-x: hidden; background: rgba(0, 0, 0, 0) url(&quot;/
public/static/image/bottombg.jpg&quot;) repeat-x scroll left top;" onselectstart="return false" oncontextmenu="return(false)">
<table id="footer" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td class="footer_pad" valign="middle" align="left">COPYRIGHT©2012    版权所有 北京**科技发展有限公司 </td>
    <td class="footer_pad" valign="middle" align="right"><img src="/
public/static/image/why.gif" alt="疑问图标" width="12" height="12" align="absmiddle">&nbsp;&nbsp;如有疑问请您联系TEL：010-88312038-8015</td>
  </tr>
</tbody></table>

</body>
</html>
