/* Code tidied up by ScrapBook */
a { color: rgb(51, 51, 51); }
a:hover, a:focus, .maincolor, .maincolor a { color: rgb(0, 102, 204); }
.navbar { background: rgb(34, 34, 34) none repeat scroll 0% 0%; }
.navbar-logo, .navbar-logo-m, .navbar-slogan, .navbar-userbar { color: rgb(255, 255, 255); }
.navbar-logo:hover, .navbar-logo-m:hover { color: rgb(255, 255, 255); text-decoration: none; }
.navbar-nav > ul > li, .navbar-nav > ul > li > a { color: rgb(255, 255, 255); }
.Hui-aside {  }
.Hui-aside .menu_dropdown dt { color: rgb(51, 51, 51); }
.Hui-aside .menu_dropdown dt:hover { color: rgb(20, 140, 241); }
.Hui-aside .menu_dropdown dt:hover [class^="icon-"] { color: rgb(126, 135, 149); }
.Hui-aside .menu_dropdown li a { color: rgb(102, 102, 102); border-bottom: 1px solid rgb(229, 229, 229); }
.Hui-aside .menu_dropdown li a:hover { color: rgb(20, 140, 241); background-color: rgb(250, 250, 250); }
.Hui-aside .menu_dropdown li.current a, .menu_dropdown li.current a:hover { color: rgb(20, 140, 241); }
.Hui-aside .menu_dropdown dt .Hui-iconfont { color: rgb(160, 167, 177); }
.Hui-aside .menu_dropdown dt .menu_dropdown-arrow { color: rgb(182, 183, 184); }
.dislpayArrow a { background: rgba(0, 0, 0, 0) url("icon_arrow.png") no-repeat scroll 0px 0px; }
