/* Code tidied up by ScrapBook */
.uploadify-button { display: inline-block; margin: 12px; border: 1px solid rgb(128, 128, 128); background-color: rgb(112, 112, 112); line-height: 24px; border-radius: 12px; padding: 0px 18px; font-size: 12px; font-weight: 600; font-family: "微软雅黑"; color: rgb(255, 255, 255); cursor: pointer; text-decoration: none; }
.uploadify-button:hover { background-color: rgb(136, 136, 136); }
