<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="Bookmark" href="http://www.sucaihuo.com/favicon.ico">
<link rel="Shortcut Icon" href="favicon.ico">

<link rel="stylesheet" type="text/css" href="/
public/static/css/H-ui.min.css">
<link rel="stylesheet" type="text/css" href="/
public/static/css/H-ui.admin.css">
<link rel="stylesheet" type="text/css" href="/
public/static/css/iconfont.css">
<link rel="stylesheet" type="text/css" href="/
public/static/css/skin.css" id="skin">
<link rel="stylesheet" type="text/css" href="/
public/static/css/style.css">

<title>修改密码</title>

<link rel="stylesheet" href="/
public/static/css/layer.css" id="layui_layer_skinlayercss" style=""></head>
<body>
<article class="page-container">
	<form action=" " method="post" class="form form-horizontal" id="form-change-password" novalidate="novalidate">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>

			<div class="formControls col-xs-8 col-sm-9">{$admin['username']}</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input class="input-text valid" autocomplete="off" placeholder="不修改请留空" name="newpassword" id="newpassword" type="password">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input class="input-text valid" autocomplete="off" placeholder="不修改请留空" name="newpassword2" id="new-password2" type="password">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" type="button">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/
public/static/js/jquery.min.js"></script> 
<script type="text/javascript" src="/
public/static/js/layer.js"></script>  
<script type="text/javascript" src="/
public/static/js/H-ui.min.js"></script><a href="javascript:void(0)" class="tools-right toTop Hui-iconfont" title="返回顶部" alt="返回顶部" style="display: none;"></a> 
<script type="text/javascript" src="/
public/static/js/H-ui.admin.js"></script> 
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/
public/static/js/jquery.validate.js"></script> 
<script type="text/javascript" src="/
public/static/js/validate-methods.js"></script> 
<script type="text/javascript" src="/
public/static/js/messages_zh.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS_PATH__/sweet-alert.css">
<script src="__JS_PATH__/sweet-alert.js"></script>
<script type="text/javascript">
$(function(){
	$('.btn').click(function(){
	   var password = $('#newpassword').val();
	   var rewpassword = $('#new-password2').val();
		if(password != rewpassword){
            sweetAlert("修改失败","两次密码不一致!",'error');
            return;
		}

	   $.post("{:url('/?s=admin/user/up')}",{"password":$('#newpassword').val()},function(data){
	       if(data.status)
		   {
               swal('^_^',data.msg,'success');
		   }else{
               sweetAlert("修改失败","!",'error');
		   }
	   })
	})
});
</script>
<!--/请在上方写此页面业务相关的脚本-->

</body>
</html>
